In [2]:
from io import StringIO
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import requests

In [3]:
# Read the dataset
adult_df = pd.read_table('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', sep='\s+', header=None)
adult_df.columns = ['age','workclass','fnlwgt','education','education_num','marital_status','occupation','relationship','race',
                    'sex', 'capital-gain','capital-loss','hours-per-week','native-country','class-probability']

In [4]:
adult_df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class-probability
0,"39,","State-gov,","77516,","Bachelors,","13,","Never-married,","Adm-clerical,","Not-in-family,","White,","Male,","2174,","0,","40,","United-States,",<=50K
1,"50,","Self-emp-not-inc,","83311,","Bachelors,","13,","Married-civ-spouse,","Exec-managerial,","Husband,","White,","Male,","0,","0,","13,","United-States,",<=50K
2,"38,","Private,","215646,","HS-grad,","9,","Divorced,","Handlers-cleaners,","Not-in-family,","White,","Male,","0,","0,","40,","United-States,",<=50K
3,"53,","Private,","234721,","11th,","7,","Married-civ-spouse,","Handlers-cleaners,","Husband,","Black,","Male,","0,","0,","40,","United-States,",<=50K
4,"28,","Private,","338409,","Bachelors,","13,","Married-civ-spouse,","Prof-specialty,","Wife,","Black,","Female,","0,","0,","40,","Cuba,",<=50K

In [5]:
from pandasql import sqldf

In [6]:
pysqldf = lambda q: sqldf(q, globals())

In [7]:
pysqldf

In [8]:
import sqlalchemy

In [9]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [11]:
from sqlalchemy.ext.declarative import declarative_base

In [12]:
Base = declarative_base()

In [13]:
from sqlalchemy import Column, Integer, String

#### Create an sqlalchemy engine using a sample from the data set

In [14]:
class Adult(Base):
...     __tablename__ = 'adult_df'
...     __table_args__ = {'extend_existing': True} 
...
...     id = Column(Integer, primary_key=True)
...     age = Column(String)
...     workclass = Column(String)
...     fnlwgt = Column(String)
...     education = Column(String)
...     education_num = Column(String)
...     marital_status = Column(String)
...     occupation = Column(String)
...     relationship = Column(String)
...     race = Column(String)
...     sex = Column(String)
...     capital_gain = Column(String)
...     capital_loss = Column(String)
...     hours_per_week = Column(String)
...     native_country = Column(String)
...     classs_probability = Column(String)
...
...     def __repr__(self):
...        return "<User(age='%s', workclass='%s', fnlwgt='%s', education='%s', education_num='%s', marital_status='%s', occupation='%s', relationship='%s', race='%s', sex='%s', capital_gain='%s', capital_loss='%s', hours_per_week='%s', native_country='%s', classs_probability='%s')>" % (
...                             self.age, self.workclass, self.fnlwgt, self.education, self.education_num,
...                             self.marital_status, self.occupation, self.relationship, self.race, self.sex,
...                             self.capital_gain, self.capital_loss, self.hours_per_week, self.native_country,
...                             self.classs_probability)

In [15]:
Adult.__table__

Table('adult_df', MetaData(bind=None), Column('id', Integer(), table=<adult_df>, primary_key=True, nullable=False), Column('age', String(), table=<adult_df>), Column('workclass', String(), table=<adult_df>), Column('fnlwgt', String(), table=<adult_df>), Column('education', String(), table=<adult_df>), Column('education_num', String(), table=<adult_df>), Column('marital_status', String(), table=<adult_df>), Column('occupation', String(), table=<adult_df>), Column('relationship', String(), table=<adult_df>), Column('race', String(), table=<adult_df>), Column('sex', String(), table=<adult_df>), Column('capital_gain', String(), table=<adult_df>), Column('capital_loss', String(), table=<adult_df>), Column('hours_per_week', String(), table=<adult_df>), Column('native_country', String(), table=<adult_df>), Column('classs_probability', String(), table=<adult_df>), schema=None)

In [16]:
Base.metadata.create_all(engine)

2018-04-22 08:29:51,074 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-04-22 08:29:51,076 INFO sqlalchemy.engine.base.Engine ()
2018-04-22 08:29:51,076 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-04-22 08:29:51,087 INFO sqlalchemy.engine.base.Engine ()
2018-04-22 08:29:51,087 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult_df")
2018-04-22 08:29:51,087 INFO sqlalchemy.engine.base.Engine ()
2018-04-22 08:29:51,100 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adult_df (
	id INTEGER NOT NULL,
	age VARCHAR,
	workclass VARCHAR,
	fnlwgt VARCHAR,
	education VARCHAR,
	education_num VARCHAR,
	marital_status VARCHAR,
	occupation VARCHAR,
	relationship VARCHAR,
	race VARCHAR,
	sex VARCHAR,
	capital_gain VARCHAR,
	capital_loss VARCHAR,
	hours_per_week VARCHAR,
	native_country VARCHAR,
	classs_probability VARCHAR,
	PRIMARY KEY (id)
)


2018-04-22 08:29:51,100 INFO sqlalchemy.engine.base.Engine ()
2018-04-22 08:29:51,100 INFO sqlalchemy.engine.base.Engine COMMIT

In [17]:
ed_adult = Adult(age= 36, workclass= 'state-gov', fnlwgt = '65643', education = 'Bachelors', education_num = '13', marital_status = 'married',
                    occupation = 'Prof-Speciality', relationship = 'Wife', race = 'White', sex =  'Female', capital_gain = '0', 
                 capital_loss = '0', hours_per_week = '40', native_country = 'United-States', classs_probability = '<=50K')
ed_adult

<User(age='36', workclass='state-gov', fnlwgt='65643', education='Bachelors', education_num='13', marital_status='married', occupation='Prof-Speciality', relationship='Wife', race='White', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>

In [18]:
from sqlalchemy.orm import sessionmaker

In [19]:
Session = sessionmaker(bind=engine)

In [20]:
Session = sessionmaker()

In [21]:
Session.configure(bind=engine)

In [22]:
session = Session()

In [23]:
session.add(ed_adult)

In [24]:
session.add_all([Adult(age= '46', workclass= 'state-gov', fnlwgt = '54653', education = 'Bachelors', education_num = '13', marital_status = 'married',
                    occupation = 'Professor', relationship = 'Wife', race = 'White', sex =  'Female', capital_gain = '0', 
                 capital_loss = '0', hours_per_week = '40', native_country = 'United-States', classs_probability = '<=50K'),
                Adult(age= '34', workclass= 'state-gov', fnlwgt = '45673', education = 'Bachelors', education_num = '13', marital_status = 'married',
                    occupation = 'Engineer', relationship = 'Husband', race = 'White', sex =  'Male', capital_gain = '0', 
                 capital_loss = '0', hours_per_week = '40', native_country = 'United-States', classs_probability = '<=50K'),
                Adult(age= '27', workclass= 'private', fnlwgt = '54376', education = 'Bachelors', education_num = '13', marital_status = 'married',
                    occupation = 'IT-professional', relationship = 'Son', race = 'Brown', sex =  'Male', capital_gain = '0', 
                 capital_loss = '0', hours_per_week = '40', native_country = 'United-States', classs_probability = '<=50K')])

In [25]:
session.new

IdentitySet([<User(age='36', workclass='state-gov', fnlwgt='65643', education='Bachelors', education_num='13', marital_status='married', occupation='Prof-Speciality', relationship='Wife', race='White', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>, <User(age='46', workclass='state-gov', fnlwgt='54653', education='Bachelors', education_num='13', marital_status='married', occupation='Professor', relationship='Wife', race='White', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>, <User(age='34', workclass='state-gov', fnlwgt='45673', education='Bachelors', education_num='13', marital_status='married', occupation='Engineer', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>, <User(age='27', workclass='private', fnlwgt='54376', education='Bachelors', education_num='13', marital_status='married', occupation='IT-professional', relationship='Son', race='Brown', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>])

In [26]:
session.commit()

2018-04-22 08:29:52,372 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-04-22 08:29:52,382 INFO sqlalchemy.engine.base.Engine INSERT INTO adult_df (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, classs_probability) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-04-22 08:29:52,400 INFO sqlalchemy.engine.base.Engine (36, 'state-gov', '65643', 'Bachelors', '13', 'married', 'Prof-Speciality', 'Wife', 'White', 'Female', '0', '0', '40', 'United-States', '<=50K')
2018-04-22 08:29:52,400 INFO sqlalchemy.engine.base.Engine INSERT INTO adult_df (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, classs_probability) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-04-22 08:29:52,400 INFO sqlalchemy.engine.base.Engine ('46', 'state-gov', '54653', 'Bachelors', '13', 'married', 'Professor', 'Wife', 'White', 'Female', '0', '0', '40', 'United-States', '<=50K')
2018-04-22 08:29:52,415 INFO sqlalchemy.engine.base.Engine INSERT INTO adult_df (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, classs_probability) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-04-22 08:29:52,418 INFO sqlalchemy.engine.base.Engine ('34', 'state-gov', '45673', 'Bachelors', '13', 'married', 'Engineer', 'Husband', 'White', 'Male', '0', '0', '40', 'United-States', '<=50K')
2018-04-22 08:29:52,422 INFO sqlalchemy.engine.base.Engine INSERT INTO adult_df (age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, classs_probability) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-04-22 08:29:52,425 INFO sqlalchemy.engine.base.Engine ('27', 'private', '54376', 'Bachelors', '13', 'married', 'IT-professional', 'Son', 'Brown', 'Male', '0', '0', '40', 'United-States', '<=50K')
2018-04-22 08:29:52,427 INFO sqlalchemy.engine.base.Engine COMMIT

#### Write two basic update queries

In [31]:
session.query(Adult).filter_by(age = '36').update({"fnlwgt": '77777'})

2018-04-22 08:30:45,000 INFO sqlalchemy.engine.base.Engine UPDATE adult_df SET fnlwgt=? WHERE adult_df.age = ?
2018-04-22 08:30:45,000 INFO sqlalchemy.engine.base.Engine ('77777', '36')

1

In [32]:
session.query(Adult).all()

2018-04-22 08:30:50,947 INFO sqlalchemy.engine.base.Engine SELECT adult_df.id AS adult_df_id, adult_df.age AS adult_df_age, adult_df.workclass AS adult_df_workclass, adult_df.fnlwgt AS adult_df_fnlwgt, adult_df.education AS adult_df_education, adult_df.education_num AS adult_df_education_num, adult_df.marital_status AS adult_df_marital_status, adult_df.occupation AS adult_df_occupation, adult_df.relationship AS adult_df_relationship, adult_df.race AS adult_df_race, adult_df.sex AS adult_df_sex, adult_df.capital_gain AS adult_df_capital_gain, adult_df.capital_loss AS adult_df_capital_loss, adult_df.hours_per_week AS adult_df_hours_per_week, adult_df.native_country AS adult_df_native_country, adult_df.classs_probability AS adult_df_classs_probability
FROM adult_df
2018-04-22 08:30:50,947 INFO sqlalchemy.engine.base.Engine ()

[<User(age='36', workclass='state-gov', fnlwgt='77777', education='Bachelors', education_num='13', marital_status='married', occupation='Prof-Speciality', relationship='Wife', race='White', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>,
 <User(age='46', workclass='state-gov', fnlwgt='54653', education='Bachelors', education_num='13', marital_status='married', occupation='Professor', relationship='Wife', race='White', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>,
 <User(age='34', workclass='state-gov', fnlwgt='45673', education='Bachelors', education_num='13', marital_status='married', occupation='Engineer', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>,
 <User(age='27', workclass='private', fnlwgt='54376', education='Bachelors', education_num='13', marital_status='married', occupation='IT-professional', relationship='Son', race='Brown', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>]

In [33]:
session.query(Adult).filter_by(age = '36').update({"education": 'Masters'})

2018-04-22 08:32:04,971 INFO sqlalchemy.engine.base.Engine UPDATE adult_df SET education=? WHERE adult_df.age = ?
2018-04-22 08:32:04,971 INFO sqlalchemy.engine.base.Engine ('Masters', '36')

1

In [35]:
session.commit()

2018-04-22 08:32:58,765 INFO sqlalchemy.engine.base.Engine COMMIT

In [36]:
session.query(Adult).all()

2018-04-22 08:33:05,063 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-04-22 08:33:05,063 INFO sqlalchemy.engine.base.Engine SELECT adult_df.id AS adult_df_id, adult_df.age AS adult_df_age, adult_df.workclass AS adult_df_workclass, adult_df.fnlwgt AS adult_df_fnlwgt, adult_df.education AS adult_df_education, adult_df.education_num AS adult_df_education_num, adult_df.marital_status AS adult_df_marital_status, adult_df.occupation AS adult_df_occupation, adult_df.relationship AS adult_df_relationship, adult_df.race AS adult_df_race, adult_df.sex AS adult_df_sex, adult_df.capital_gain AS adult_df_capital_gain, adult_df.capital_loss AS adult_df_capital_loss, adult_df.hours_per_week AS adult_df_hours_per_week, adult_df.native_country AS adult_df_native_country, adult_df.classs_probability AS adult_df_classs_probability
FROM adult_df
2018-04-22 08:33:05,074 INFO sqlalchemy.engine.base.Engine ()

[<User(age='36', workclass='state-gov', fnlwgt='77777', education='Masters', education_num='13', marital_status='married', occupation='Prof-Speciality', relationship='Wife', race='White', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>,
 <User(age='46', workclass='state-gov', fnlwgt='54653', education='Bachelors', education_num='13', marital_status='married', occupation='Professor', relationship='Wife', race='White', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>,
 <User(age='34', workclass='state-gov', fnlwgt='45673', education='Bachelors', education_num='13', marital_status='married', occupation='Engineer', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>,
 <User(age='27', workclass='private', fnlwgt='54376', education='Bachelors', education_num='13', marital_status='married', occupation='IT-professional', relationship='Son', race='Brown', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>]

#### Write two delete queries

In [163]:
from sqlalchemy import delete

In [287]:
session.query(Adult).filter_by(age = '27').delete()

2018-04-22 08:20:25,813 INFO sqlalchemy.engine.base.Engine DELETE FROM adult_df WHERE adult_df.age = ?
2018-04-22 08:20:25,813 INFO sqlalchemy.engine.base.Engine ('34',)

2

In [288]:
session.query(Adult).filter_by(age='46').delete()

2018-04-22 08:20:30,190 INFO sqlalchemy.engine.base.Engine DELETE FROM adult_df WHERE adult_df.age = ?
2018-04-22 08:20:30,206 INFO sqlalchemy.engine.base.Engine ('46',)

2

In [166]:
session.query(Adult).all()

2018-04-21 11:29:23,105 INFO sqlalchemy.engine.base.Engine SELECT adult_df.id AS adult_df_id, adult_df.age AS adult_df_age, adult_df.workclass AS adult_df_workclass, adult_df.fnlwgt AS adult_df_fnlwgt, adult_df.education AS adult_df_education, adult_df.education_num AS adult_df_education_num, adult_df.marital_status AS adult_df_marital_status, adult_df.occupation AS adult_df_occupation, adult_df.relationship AS adult_df_relationship, adult_df.race AS adult_df_race, adult_df.sex AS adult_df_sex, adult_df.capital_gain AS adult_df_capital_gain, adult_df.capital_loss AS adult_df_capital_loss, adult_df.hours_per_week AS adult_df_hours_per_week, adult_df.native_country AS adult_df_native_country, adult_df.classs_probability AS adult_df_classs_probability
FROM adult_df
2018-04-21 11:29:23,108 INFO sqlalchemy.engine.base.Engine ()

[<User(age='36', workclass='state-gov', fnlwgt='77777', education='Masters', education_num='15', marital_status='married', occupation='Prof-Speciality', relationship='Wife', race='White', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>,
 <User(age='34', workclass='state-gov', fnlwgt='45673', education='Bachelors', education_num='13', marital_status='married', occupation='Engineer', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>]

#### Write two filter queries

In [167]:
session.query(Adult).filter_by(age='34').first()

2018-04-21 11:29:42,526 INFO sqlalchemy.engine.base.Engine SELECT adult_df.id AS adult_df_id, adult_df.age AS adult_df_age, adult_df.workclass AS adult_df_workclass, adult_df.fnlwgt AS adult_df_fnlwgt, adult_df.education AS adult_df_education, adult_df.education_num AS adult_df_education_num, adult_df.marital_status AS adult_df_marital_status, adult_df.occupation AS adult_df_occupation, adult_df.relationship AS adult_df_relationship, adult_df.race AS adult_df_race, adult_df.sex AS adult_df_sex, adult_df.capital_gain AS adult_df_capital_gain, adult_df.capital_loss AS adult_df_capital_loss, adult_df.hours_per_week AS adult_df_hours_per_week, adult_df.native_country AS adult_df_native_country, adult_df.classs_probability AS adult_df_classs_probability
FROM adult_df
WHERE adult_df.age = ?
 LIMIT ? OFFSET ?
2018-04-21 11:29:42,529 INFO sqlalchemy.engine.base.Engine ('34', 1, 0)

<User(age='34', workclass='state-gov', fnlwgt='45673', education='Bachelors', education_num='13', marital_status='married', occupation='Engineer', relationship='Husband', race='White', sex='Male', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>

In [168]:
session.query(Adult).filter(Adult.sex.in_(['Female'])).all()

2018-04-21 11:29:51,171 INFO sqlalchemy.engine.base.Engine SELECT adult_df.id AS adult_df_id, adult_df.age AS adult_df_age, adult_df.workclass AS adult_df_workclass, adult_df.fnlwgt AS adult_df_fnlwgt, adult_df.education AS adult_df_education, adult_df.education_num AS adult_df_education_num, adult_df.marital_status AS adult_df_marital_status, adult_df.occupation AS adult_df_occupation, adult_df.relationship AS adult_df_relationship, adult_df.race AS adult_df_race, adult_df.sex AS adult_df_sex, adult_df.capital_gain AS adult_df_capital_gain, adult_df.capital_loss AS adult_df_capital_loss, adult_df.hours_per_week AS adult_df_hours_per_week, adult_df.native_country AS adult_df_native_country, adult_df.classs_probability AS adult_df_classs_probability
FROM adult_df
WHERE adult_df.sex IN (?)
2018-04-21 11:29:51,174 INFO sqlalchemy.engine.base.Engine ('Female',)

[<User(age='36', workclass='state-gov', fnlwgt='77777', education='Masters', education_num='15', marital_status='married', occupation='Prof-Speciality', relationship='Wife', race='White', sex='Female', capital_gain='0', capital_loss='0', hours_per_week='40', native_country='United-States', classs_probability='<=50K')>]

#### Write two function queries

In [183]:
from sqlalchemy import func

In [184]:
session.query(func.count(Adult.age), Adult.age).group_by(Adult.age).all()

2018-04-21 13:48:21,095 INFO sqlalchemy.engine.base.Engine SELECT count(adult_df.age) AS count_1, adult_df.age AS adult_df_age
FROM adult_df GROUP BY adult_df.age
2018-04-21 13:48:21,111 INFO sqlalchemy.engine.base.Engine ()

[(1, '34'), (1, '36')]

In [185]:
session.query(func.count('*')).select_from(Adult).scalar()

2018-04-21 13:48:54,985 INFO sqlalchemy.engine.base.Engine SELECT count(?) AS count_1
FROM adult_df
2018-04-21 13:48:54,989 INFO sqlalchemy.engine.base.Engine ('*',)

2

In [187]:
session.query(func.count(Adult.age)).scalar()

2018-04-21 13:49:18,073 INFO sqlalchemy.engine.base.Engine SELECT count(adult_df.age) AS count_1
FROM adult_df
2018-04-21 13:49:18,077 INFO sqlalchemy.engine.base.Engine ()

2